body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
*,
*:after,
*:before {
  background: transparent no-repeat center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  line-height: inherit;
  text-decoration: inherit;
  color: inherit;
}
html {
  color: #222;
  font-size: 16px;
  line-height: 1.6;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre,
code,
kbd {
  font-family: monospace;
}
ul {
  list-style: none;
}
div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
iframe,
main,
menu,
nav,
section {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img,
table,
svg,
iframe {
  display: block;
  max-width: 100%;
  border: none;
}
img {
  object-fit: cover;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
textarea,
button {
  border: 1px solid rgba(128, 128, 128, 0.25);
}
.jPaErm {
  background-image: url(//cdn.otstatic.com/restref-site/img/png/wood-grain-pattern-gray@2x.png);
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
@media all and (max-width: 700px) {
  .jPaErm {
    background-color: #fff;
    background-image: none;
  }
}

.iSbktv {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 0px;
  padding: 0 16px;
}
.jmvxRW {
  margin-top: 3rem;
  margin-left: auto;
  position: relative;
  max-width: 40rem;
  width: 100%;
  display: block;
}
@media all and (max-width: 700px) {
  .jmvxRW {
    margin-top: 1rem;
  }
}
.jBnuPW {
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  box-sizing: border-box;
  max-width: 40rem;
  width: 100%;
  margin: 1rem 3rem 3rem;
  opacity: 1;
  transform: translateY(0px);
  border-radius: 0.25rem;
}
.exFTgC svg {
  width: 8.875rem;
  height: 2rem;
}
.logo-red {
  fill: #da3743;
}
.logo-primary {
  fill: #2d333f;
}
.lpuNnU {
  position: relative;
  width: 100%;
  line-height: 1;
}
.cWqIyA {
  overflow: hidden;
  padding-bottom: 1.5rem;
}
@media all and (max-width: 700px) {
  .cWqIyA {
    padding-bottom: 0;
  }
}
.yEMUD {
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.25rem;
}
.dTcVjs {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(51, 51, 51);
  align-self: flex-start;
}
.GhWON {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-self: flex-end;
  font-size: 0.875rem;
}
.fVNwtk {
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
}
.bhhQzw {
  position: relative;
  width: 100%;
  line-height: 1;
}
.iYVAxD {
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.gjPXWi {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-1rem);
  opacity: 0;
  transition: transform 300ms ease-out 0s, opacity 150ms ease-out 0s;
}
.bqzXDN {
  box-sizing: border-box;
  height: 4rem;
  margin-top: 0px;
  overflow: hidden;
  transition-property: height, margin-top;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}
.eEcvCT {
  border-radius: 0.25rem 0.25rem 0px 0px;
  background-color: rgb(255, 255, 255);
}
.jpkqaf {
  display: flex;
  padding: 0px;
  margin: 0px 2rem;
  box-shadow: rgb(204 204 204) 0px -1px 0px inset;
}
@media all and (max-width: 700px) {
  .jpkqaf {
    margin: 0px;
  }
}
.kcRsrg {
  display: flex;
  box-sizing: border-box;
  height: 2rem;
  margin-top: 2rem;
  border-bottom: 2px solid rgb(218, 55, 67);
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(218, 55, 67);
  cursor: auto;
  margin-right: 2rem;
}
.ndVwI {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.25rem;
}
.fuhELq {
  height: 0.875rem;
  text-transform: uppercase;
}
.lceURG {
  position: relative;
  transition-property: height, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.brdWHK {
  padding-top: 2rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
}
.DiGkq {
  padding: 0px 2rem 1rem;
}
@media all and (max-width: 700px) {
  .DiGkq {
    padding: 0px 0px 1rem;
  }
}
.lcyTTj {
  display: flex;
  flex-direction: row;
}
@media all and (max-width: 700px) {
  .lcyTTj {
    flex-direction: column;
  }
}
.gfIXnP {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.cFpyTq {
  flex: 1 1 23.3333%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204) rgb(236, 236, 236) rgb(204, 204, 204)
    rgb(204, 204, 204);
  border-image: initial;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
@media all and (max-width: 700px) {
  .cFpyTq {
    width: 100%;
    border-color: rgb(204, 204, 204) rgb(236, 236, 236) rgb(204, 204, 204)
      rgb(204, 204, 204) !important;
    border-top-color: transparent !important;
  }
  .cFpyTq:first-of-type {
    border-color: rgb(204, 204, 204) rgb(236, 236, 236) rgb(204, 204, 204)
      rgb(204, 204, 204) !important;
  }
}
.dYYEbp {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}
.jrwoCZ {
  display: flex;
  white-space: nowrap;
  color: rgb(51, 51, 51);
  flex: 1 0 70%;
  min-width: 70%;
  padding-right: 20%;
}
.gMKwwC {
  fill: rgb(153, 153, 153);
  min-width: 0.75rem;
  flex: 1 0 30%;
}
@media all and (max-width: 700px) {
  .gMKwwC {
    flex: initial;
  }
}

.jfwyrH {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  inset: 0px;
  opacity: 0;
  appearance: menulist-button;
}
.beJdui {
  border-left-color: transparent;
}
.ePUEXX {
  border-left-color: transparent;
  border-right-color: transparent;
}
.gzpMmM {
  flex: 1 1 30%;
  width: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.gLwuLm {
  position: relative;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0px;
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(218, 55, 67);
  color: rgb(255, 255, 255);
  padding: 0.7rem 1rem;
  margin: 0px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 300ms ease-out 0s;
}
.fqfyya {
  display: block;
  margin: 0px 2rem;
  padding: 0px 0px 2rem;
}
@media all and (max-width: 700px) {
  .fqfyya {
    padding: 0px;
  }
}
.zbMDr {
  margin: 1rem 0px;
}
#input-date {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
